*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
body{
	background-color: #f4fffd;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23f4fffd' stroke-width='0.35' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cuse fill='%23effaf8' href='%23s' y='2'/%3E%3Cuse fill='%23effaf8' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23eaf5f3' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23eaf5f3' href='%23s'/%3E%3Cuse fill='%23e5f0ee' href='%23s' x='2'/%3E%3Cuse fill='%23e5f0ee' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cg fill='%23e0ebe9'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cg fill='%23e0ebe9'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cg fill='%23dce5e4'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cg fill='%23f4fffd'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23d7e0df'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cg fill='%23338878'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cg fill='%23338878'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(54 1000 750) scale(38.2) translate(-973.82 -730.37)'%3E%3Cg fill='%23338878'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

select,input{
	border-radius: 30px;
	border: 2px solid black;
}
select>option{
	border-radius: 30px;
	border: 2px solid black;
}
.barnav{
	background-color: #2471A3;
	text-align: center;
	border-bottom:2px solid black;
}
.Emilogo{
	width: 60px;
	height: 40px;
	margin-right: 10px;
}
.supertitle{
	font-weight: 900;
	font-size: 40px;
	color:#7AAFD0;

}
.minititle{
	color:black;
}

.notifi{
	float:right;
	margin-top:12px;
	margin-right: 15px;
	font-size: 30px;
}
.menu{
	float:left;
	margin-top:12px;
	margin-left: 15px;
	font-size: 30px;
}
.notifi:hover,.menu:hover{
	color:white;
	cursor: pointer;
}

#menu:checked~.barside{
	margin-left:-320px;
}
#menu:checked~.content{
	width: 100%;
}
.bt{
	border-bottom: 2px solid black;
	margin-right: 55px;
}
#selected{
	color:#154360;
}
.notify{
	height: 100vh;
	background-color: #2471A3;
	width: 250px;
	position: fixed;
	top:0px;
	right: -350px;
	float: right;
	border-left: 1px solid black;
	border-top:2px solid black;
	box-shadow: -70px 70px 1000px black;
	transition: 1s;
	transition-property: right;
}
.notify_content{
	margin-top: 55px;
	background-color: #ddd;
	width: 90%;
	margin-left: 5%;
	height: 90vh;
	border:2px solid black;
	border-radius: 30px;
}
#notify:checked~.notify{
	right: 1px;
}

.barside{
	padding-top: 50px;
	display: grid;
	grid-gap: 10px;
	white-space: 10px;
	height: 99vh;
	background-color: #2471A3;
	width: 230px;
	border-top:2px solid black;
	transition: 1s;
	transition-property: margin-left;
	float: left;
	border-right: 1px solid black;
}

.barside>a{
	font-size: 25px;
	color: black;
	font-weight: 900;
	padding-left: 20px;
}

.barside a:hover{
	background-color: #6DADD5;
}
.content{
	width: calc(100% - 240px);
	float: right;
	transition: 1s;
	transition-property: width;
}
.cal_header{
	font-size: 35px;
	font-style: italic;
	padding: 30px;
	font-weight: 900;
	margin-bottom: 15px;
}
.left{
	width: 49%;
	float: left;
}
.right{
	width: 80%;
	margin-left:10%; 
}
.input{
	width: 49%;
	height: 40px;
	font-style: italic;
	font-size: 25px;
	font-weight: 900;
	cursor: pointer;
}
.inputMonth{

}
.inputYear{

}
.Ndays{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	margin-right: 10px;
  	margin-left: 10px;
}
.Ndays>p{
	text-align: center;
	border:2px solid black;
	font-style: oblique;
	font-weight: 400;
	font-size: 20px;
	background-color: #DDD;
	width: 1fr;
}

.days{
	display: grid;
  	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  	margin-right: 10px;
  	margin-right: 10px;
  	margin-left: 10px;
}
.days>div{
	text-align: center;
	border:2px solid black;
	font-style: oblique;
	height: 90px;
	font-weight: 400;
	font-size: 20px;
}

.semaine{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.semaine>div{
	text-align: center;
	border-right:2px solid black;
	font-style: oblique;
	font-weight: 400;
	width: 1fr;
	padding-top: 17px;
	font-size: 20px;
	background-color: #66B0DF;
}
.semaine>div>i{
	cursor: pointer;
}
.occuped{
	color: red;
}

.titleIns{

}
.formIns{
	background-color: #DDD;
	width: 90%;
	margin-left: 5%;
	margin-top: 60px;
	border-radius: 30px;
	box-shadow: 20px 20px 30px black;
	border:2px solid black;
}
.titleIns{
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	padding-top: 30px;
	margin-bottom: 60px;
}
.formIns>form{
	padding:40px;
	border-radius: 30px;
}
.formIns>form>label{
	padding:40px;
	margin-left: 11%;
	font-size: 25px;
}
.txtIns{
	margin-left: 6%;
	font-style: italic;
	font-size: 15px;
	font-weight: 900;
	width: 40%;
	display: inline-block;
	margin-bottom: 40px;
}
.formIns>form>select{
	margin-left: 9%;
	font-style: italic;
	font-size: 15px;
	font-weight: 900;
	width: 40%;
	display: inline-block;
	margin-bottom: 40px;
}
.submitIns{
	margin-left: 30%;
	font-style: italic;
	font-size: 15px;
	font-weight: 900;
	width: 40%;
	display: inline-block;
	margin-top: 30px;
	cursor: pointer;
}
.submitIns:hover{
	box-shadow: 10px 10px 20px black;
}
.txtIns:hover{
	box-shadow: 10px 10px 20px black;
}
select:hover{
	box-shadow: 10px 10px 20px black;
}

@media screen and (max-width: 860px){
	.barside{
		position: fixed;
		top:50px;
		left: -320px;
		margin-left:-320px;
		transition: 1s;
		transition-property: left;
		box-shadow: 60px 60px 1000px black;
	}
	.input{
		width: 100%;
	}
	.content{
		width: 100%;
	}
	#menu:checked~.barside{
		left:320px;
	}
	#menu:checked~.content{
		width: 100%;
	}
}
@media screen and (max-width: 622px){
	.formIns>form{
		padding:0;
	}
	.formIns>form>label{
		display: block;
		margin: 0;
		padding: 0;
		padding-bottom: 10px;
		text-align: center;
		font-size: 20px;
	}
	.txtIns{
		margin: 0;
		display: block;
		width: 80%;
		margin-left: 10%;
	}
	.formIns>form>select{
		margin: 0;
		display: block;
		width: 80%;
		margin-left: 10%;
	}
	.submitIns{
		margin-top: 30px;
		margin-bottom: 30px;
	}	
}